.page {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-rows: minmax(50px, 1fr) minmax(auto, 1fr) minmax(100px, 1fr);
  justify-content: stretch;
  box-sizing: border-box;
  align-items: left;
  vertical-align: top;
}